@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500;600;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

/* --------------------------header start----------------------------------- */

.first-container {
    width: 1321px;
    height: 646px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid palevioletred;
    border-radius: 30px;
    background-color: #161616;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

@keyframes bouncing {

    from {
        top: 0;
        left: 0;


    }

    to {

        left: 1071px;
    }
}

.football {

    position: relative;
    z-index: -1;
    width: 220px;
    height: 220px;
    animation: bouncing 1s ease-in-out 4 alternate;
    animation-play-state: running;
}

.header-title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: -23px;
    color: #fff;

}

.header-description {
    font-size: 16px;
    color: #fff;
    margin-bottom: 46px;

}

.left-side-content {
    margin-bottom: 80px;
}

.header-btn {
    text-decoration: none;
    color: #fff;
    padding: 16px 25px 16px 25px;
    border-radius: 5px;
    background-color: #DD0000;
}

.right-side-content .banner-image img {
    width: 581px;
    height: 613px;
    margin-bottom: 0px;
}

/* --------------------------header-end ----------------------- */

.middle-container {
    display: flex;
    justify-content: space-around;
    width: 1321px;
    height: 646px;
    margin: 0 auto;
    margin-top: 140px;


}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px 20px;
    justify-content: space-evenly;
    align-items: center;

}

.card-image {
    margin-bottom: 20px;

}

.card {
    width: 312px;
    height: 362px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.card-info {
    display: flex;
    flex-direction: column;
    padding: 0px 5px 30px 5px;

}

.transfer-btn {
    background-color: transparent;
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
}

.card-blog {
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 15px;
}

.icon a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #161616;
}


.icon-setup {
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;

}

.bonus-btn {
    width: 187px;
    height: 56px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    padding: 16px 25px 16px 25px;
    border-radius: 5px;
    background-color: #DD0000;
    position: absolute;
    top: 250%;
    left: 45%;
    display: none;
    justify-content: center;
    align-items: center;

}




.footer-title {
    text-align: center;
    color: #fff;
}

hr {
    width: 1321px;
    border: 0.1px solid rgba(255, 255, 255, 0.1);
}

.last-container {
    width: 1600px;
    height: 444px;
    margin: 0 auto;
    position: relative;
    margin-top: 50%;
    background-color: #161616;
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-list ul li {
    list-style-type: none;
    display: inline-block;

}

.footer-list ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #B9B9B9;
    padding: 0 15px;
}


.card-section ul li {
    list-style-type: none;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 15px;
    width: 213px;
    height: 65px;
    margin-top: 21px;

}

.card-section li:nth-child(3) {
    background-color: #DD0000;
}

.card-section li:nth-child(3) a {
    color: #fff;

}

.card-section ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.fa-facebook-f {
    color: rgba(101, 101, 221, 0.849);
    margin-right: 20px;
}

.fa-instagram {
    color: rgba(248, 0, 0, 0.582);
    margin-right: 20px;
}

.fa-twitter {
    color: #fff;
    margin-right: 20px;
}


/*-----------------
    Tablet Device
----------------- */
@media only screen and (min-width:689px) and (max-width:992px) {

    .first-container {
        width: 734px;
        height: 400px;
    }

    .right-side-content .banner-image img {
        width: 323px;
        height: 340px;
    }

    .hide-content {
        display: none;
    }

    .header-title {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
    }

    .header-description {
        font-size: 16px;
        color: #fff;
        margin-bottom: 46px;

    }

    .football {
        display: none;
    }

    .left-side-content {
        width: 316px;
        height: 276px;
        padding: 10px;
    }

    .card-blog {
        display: flex;
        flex-direction: row;
        width: 312px;
        height: 312px;
        background-color: #fff;
        border-radius: 15px;
        margin-bottom: 50px;
    }

    .card-blog ul li {
        display: inline-block;
    }

    .card-info {
        display: flex;
        flex-direction: row;
        padding: 0px 5px 30px 5px;

    }

    .middle-container {

        display: flex;
        flex-direction: column;
        width: 734px;
        height: 398px;
        margin-left: 35px;
        margin-top: 500px;



    }

    .card-info {
        display: flex;
        flex-direction: column;
        padding: 0px 5px 30px 5px;

    }


    .card-grid {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px 20px;
        justify-content: space-evenly;
        align-items: center;

    }

    .last-container {
        width: 734px;
        height: 398px;
        margin: 0 auto;
        position: relative;
        margin-top: 70%;
        background-color: #161616;
        border: 1px solid firebrick;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-see-more {
        display: none;
    }


    .middle-container .card-blog {
        width: 734px;
        height: 400px;
        display: inline-block;

    }

    .middle-container .card-blog li {
        display: inline-block;
        padding: 0;
    }

    .bonus-btn {
        width: 187px;
        height: 56px;
        font-size: 24px;
        text-decoration: none;
        color: #fff;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        background-color: #DD0000;
        position: absolute;
        top: 225%;
        left: 34%;
        display: flex;
        justify-content: center;
        align-items: center;

    }


}