@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@400;500;600;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

}

.first-container {
    width: 1321px;
    height: 646px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid palevioletred;
    border-radius: 30px;
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.header-title {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: -23px;
    color: #fff;

}

.header-description {
    font-size: 16px;
    color: #fff;
    margin-bottom: 46px;

}

.left-side-content {
    margin: 111px 24px 111px 106px
}

.header-btn {
    text-decoration: none;
    color: #fff;
    padding: 16px 25px 16px 25px;
    border-radius: 5px;
    background-color: #DD0000;
}

.right-side-content .banner-image img {
    width: 581px;
    height: 613px;
    margin-bottom: 0px;
}

.middle-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1321px;
    height: 646px;
    margin: 0 auto;
    margin-top: 50px;

}

.card-image {
    margin-bottom: 20px;

}

.card {
    width: 312px;
    height: 362px;
}

.card .transfer-btn {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #161616;
    padding: 5px 10px;
    border-radius: 5px;
}

.card-blog {
    width: 312px;
    height: 312px;
    background-color: #161616;
    grid-row-start: 1;
    grid-row-end: 4;
}

.icon a {
    font-size: 16px;
    font-weight: 400;
}


.icon-setup {
    width: 143px;
    height: 26px;
    display: flex;
    justify-content: space-between;

}

.footer-title {
    text-align: center;
    color: #fff;
}

hr {
    width: 1321px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.last-container {
    width: 1550px;
    height: 444px;
    margin: 0 auto;
    margin-top: 500px;
    background-color: #161616;
    border: 1px solid firebrick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-list ul li {
    list-style-type: none;
    display: inline-block;

}

.footer-list ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #B9B9B9;
    padding: 0 15px;
}